@import 'vendor/normalize';

// Incluces
@import 'includes/vars';

// Components
@import 'components/container';
@import 'components/card';
@import 'components/button';

// Base styles
body {
  background: $eggshell;
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;

  &.card-header {
    margin-bottom: 0;
  }
}

header {
  background-color: $primaryColor;
  overflow: hidden;
  padding: {
    top: 2em;
    bottom: 2em;
  }

  h1 {
    font-size: 2.5em;
    color: $textPrimaryColor;
    margin-bottom: 0;
  }

  h3 {
    color: $lightPrimaryColor;
    margin-top: 0;
  }
}

.homepage {
  background-color: $primaryColor;
  padding: {
    top: 3.5em;
    bottom: 3.5em;
  }

  h1 {
    color: $textPrimaryColor;
    font-size: 4em;
    text-align: center;
    margin-bottom: 0;
  }

  p {
    color: $lightPrimaryColor;
    font-size: 1.5em;
    text-align: center;
  }
}

.link-bar {
  background-color: $darkPrimaryColor;
  padding: {
    top: .5em;
    bottom: .5em;
  }
  text-align: center;
}

.login-wrapper {
  text-align: center;

  a {
    @include materialShadow($hover: true);

    background-color: $accentColor;
    color: $primaryTextColor;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 1em;
    padding: 1em 2em;
    box-shadow: 1px;

    &:hover {
      background-color: lighten($accentColor, 5);
    }
  }
}

.has-files {
  border: 2px solid $accentColor;
}
