
body
	background: #ecf0f1
a
	color: inherit

// header
.site-head
	height: 40%
	background-color: #8E44AD
#site-head-title
	font-family: 'Dancing Script', cursive
	font-size: 15em
	color: #ecf0f1
	text-align: center
// end header
// gooey get-started menu
#login-open, #repoChooseDropdown, #submitRepo-button
	display: none
#login
	filter: url('#goo')
#loginInfoPanel, #login-open-button, #submitGit-button, #submitRepo-button, #repoChooseDropdown
	font-family: 'Dancing Script', cursive
	background: #8E44AD
	-moz-border-radius: 15px
	-webkit-border-radius: 15px
	cursor: pointer
	padding: 2%
	text-align: center
#loginInfoPanel h4, #repoChooseDropdown h4
	color: #ecf0f1
	font-size: 1em
#loginInfoPanel, #submitGit-button
	opacity: 0
#loginInfoPanel
	right: -150px
#submitGit-button
	left: -150px
#login-open-button, #submitGit-button, #submitRepo-button
	color: #ecf0f1
	outline: none
	border: none !important
	-webkit-box-shadow: none !important
	-moz-box-shadow: none !important
	box-shadow: none !important
#login-open-button
	line-height: 60px
	margin: 1%
	width: 45%
	height: 12%
	font-size: 2em
#submitGit-button, #submitRepo-button
	width: 25%
	height: 12%
	font-size: 1em
#login-open-button:hover
	width: 47%
	height: 13%
#submitGit-button:hover,  #submitRepo-button:hover
	width: 26%
	height: 13%
.githubLoginForm
	font-family: 'Dancing Script', cursive
	font-size: 2em
	color:  #8E44AD
