@import '../includes/vars';

.card {
  @include materialShadow();
  $margin-space: 1.5em;

  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  margin: {
    top: $margin-space;
    bottom: $margin-space;
  }
}

@mixin card-list-item-separator($width) {
  &:after {
    background: $dividerColor;
    bottom: 0;
    content: '';
    height: 1px;
    left: (100% - $width) / 2;
    position: absolute;
    width: $width;
  }
}

ul.card-list {
  @extend .card;
  @extend .container;

  $spacing: 1em;

  list-style: none;
  padding: 0;

  li {
    h2 {
      font-weight: 500;
      margin: 0;
      margin-bottom: .5em;
    }

    > a {
      box-sizing: padding-box;
      color: $primaryTextColor;
      cursor: pointer;
      display: block;
      overflow: hidden;
      padding: $spacing;
      position: relative;
      text-decoration: none;

      &:hover {
        /*background-color: darken($eggshell, 2);*/
        color: $accentColor;
      }

      > .fa {
        padding-right: .4em;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  li + li {
    > a:before {
      $width: 95%;
      background: $dividerColor;
      top: 0;
      content: '';
      height: 1px;
      left: (100% - $width) / 2;
      position: absolute;
      width: $width;
    }
  }
}

.repo-filter {
  border: none;
  box-sizing: border-box;
  font-size: 1.5em;
  padding-left: 1em;
  padding: .5em;
  width: 100%;

  &:focus {
    outline: none;
  }
}

