.scrap {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  margin: {
    top: 1em;
    bottom: 2em;
  }
}

.render-file-list {
  @extend .scrap;
  padding: 1em;
}

.render-repo-list {
  @extend .scrap;

  .repo {
    a {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: {
        top: 1em;
      }
      margin: {
        right: 1em;
        left: 1em;
      }
    }

    h3 {
      margin: 0;
      padding-bottom: .5em;
    }

    &:hover {
      background-color: darken($eggshell, 2);
      a {
        text-decoration: none;
      }
    }
  }
}
