<header class="navbar">
  <div class="container">
    <h1>GitEasy</h1>
    <h3>Select a repository below to view files</h3>
  </div>
</header>

<div class="card container">
  {{input classNames='repo-filter' placeholder='Search for a repo' value=filter}}
</div>

<div class="container">
  <ul class="card-list">
  {{#each}}
    <li>
      {{#link-to 'repo' owner.login name}}
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>
