<header class="site-head jumbotron">
  <h1 id="site-head-title">GitEasy</h1>
</header>

<section class="container">
  <div class="row">
    {{input classNames='repo-filter' placeholder='Search for a repo' value=filter}}
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="render-repo-list">
    {{#each}}
      <div class="repo">
        {{#link-to 'repo' owner.login name}}
          <h3>{{name}}</h3>
          <p>{{description}}</p>
        {{/link-to}}
      </div>
    {{/each}}
    </div>
  </div>
</section>
