<header>
  <div class="container">
    <h1>GitEasy</h1>
    <h3>Select a repository below to view files</h3>
  </div>
</header>

<div class="card container">
  {{input classNames='repo-filter' placeholder='Search for a repo' value=filter}}
</div>

<div class="container">
  <ul class="card-list">
  {{#each repo in arrangedContent}}
    <li>
      {{#link-to 'repo' repo.owner.login repo.name}}

        <h2>{{repo.name}}</h2>
        {{#if repo.description}}
          <p>{{repo.description}}</p>
        {{/if}}

      {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>
