<div class="homepage">
  <div class="container">
    <h1>GitEasy</h1>
    <p>The easiest way to use GitHub from your browser</p>
  </div>
</div>

<div class="link-bar">
  <div class="container">
    <iframe src="https://ghbtns.com/github-btn.html?user=alexlafroscia&repo=giteasy&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </div>
</div>

<div class="container login-wrapper">
  <a {{action 'login'}}>Git Started!</a>
</div>

