{{outlet}}
<header class ="site-head" class = "jumbotron">
	<h1 id ="site-head-title">GitEasy</h1>
</header>
<section class = "container-fluid">
	<section id = 'login' class = "row">
		<div class = "row">
			<div class = "col-sm-offset-4">
				<button id = "login-open-button" onclick="showForm()">Git Started!</label>
			</div>
		</div>
		<div class = "row">
			<form class = "githubLoginForm">
				<div id = "loginInfoPanel" class = "col-sm-offset-2 col-sm-4">
					<h4>Github account</h4>
					<input type ="text" name = "githubAccountName">
					<h4>Github password</h4>
					<input type = "password" name = "githubAccountPassword">
				</div>
				<div class = "col-sm-offset-1 col-sm-5">
					<input id = "submitGit-button" type = "submit" value = "submit" name = "submitGit">
				</div>
			</form>
		</div>
	</section>
</section>
