{{outlet}}
<header class ="site-head" class = "jumbotron">
	<h1 id ="site-head-title">GitEasy</h1>
</header>
<section class = "container-fluid">
	<section class = "row">
		<div class = "row">
			<form>
				<div id = "repoChooseDropdown" class = "col-sm-offset-3 col-sm-4">
					<h4>Choose a Repository!</h4>
					<select name = "gitRepoChoice" selected="selected">
						<option value="#">Repo 1</option>
					</select>
				</div>
				<div class = "col-sm-offset-1 col-sm-2">
					<input id = "submitRepo-button" type = "submit" value = "Git Working!" name = submitRepo!">
				</div>
			</form>
		</div>
	</section>
</section>
