<header class="navbar">
  <div class="container">
    <h1>{{content.name}}</h1>
    <h3>{{content.description}}</h3>
  </div>
</header>

<div class="container">

  {{file-upload path=path
                repo=repo
                uploadSuccess="refreshList"}}

  <button class="toolbarIcon glyphicon glyphicon-plus" title="Upload a file or folders"></button>
  <button class="toolbarIcon glyphicon glyphicon-save" title="Download a file or folders"></button>

  {{outlet}}

</div>
