<header class ="site-head-sm">
  <h1 id ="site-head-title-sm">GitEasy</h1>
</header>
{{outlet}}
<section class = "container-fluid">
  <section id = 'show-repo' class = "row">
    <section id = 'taskbar-repo' class = "row">
      <section class="col-sm-offset-5 col-sm-5">
        <button class="toolbarIcon glyphicon glyphicon-plus" title="Upload a file or folders"></button>
        <button class="toolbarIcon glyphicon glyphicon-time" title="View Previous commits"></button>
      </section>
    </section>
    <section id = 'repo-dir' class = "row">
      <section class="col-sm-offset-1 col-sm-8">
        <p class="repoTreeName"><span class="repoTreeIcon glyphicon glyphicon-folder-close"></span> <a href="#">Folder Name<a href= "#"></p>
        <p class="repoTreeName"> ----- <span class="repoTreeIcon glyphicon glyphicon-list-alt"></span> <a href="#">File Name<a href="#"></p>
      </section>
    </section>
  </section>
</section>
