<header class ="site-head-sm">
  <h1 id ="site-head-title-sm">GitEasy</h1>
</header>

<div class="container">

  {{file-upload path=path
                repo=repo
                uploadSuccess="refreshList"}}

  <button class="toolbarIcon glyphicon glyphicon-plus" title="Upload a file or folders"></button>
  <button class="toolbarIcon glyphicon glyphicon-save" title="Download a file or folders"></button>

  {{outlet}}

</div>
